@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}