@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-slate-950 text-white font-cinzel;
    }
}


@layer components {
  .btn {
    @apply cursor-pointer min-w-40 px-12 py-6 text-white font-semibold text-sm hover:scale-105 transform transition-transform duration-300;
    background-image: url('/assets/images/button.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .board {
    background-image: url('/assets/images/window.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}